<div class="container mt-5">
	<h1 class="title">Message Dashboard</h1>

	@if (status() === 'loading') {
	<div class="box">
		<p class="has-text-centered">Loading messages...</p>
	</div>
	}

	@if (!(status() === 'loading') && messages().length === 0) {
	<div class="notification is-info">No messages yet.</div>
	}
	<div>
		@if (!(status() === 'loading') && messages().length > 0) {
		<!-- Messages List -->
		<div class="message-list mb-5">
			@for (message of messages(); track message.message_id) {
			<div class="box message-item is-shadowless" [class.unread]="!message.read_message"
				[class.is-loading]="isMessageUpdating(message.message_id)" (click)="markAsRead(message)"
				(keypress.enter)="markAsRead(message)" tabindex="0" [style.cursor]="
							!message.read_message && !isMessageUpdating(message.message_id)
								? 'pointer'
								: 'default'
						" [style.opacity]="isMessageUpdating(message.message_id) ? '0.6' : '1'" [style.pointer-events]="
							isMessageUpdating(message.message_id) ? 'none' : 'auto'
						">
				<article class="media">
					<div class="media-content">
						<div class="content">
							<div class="message-header mb-3">
								<strong class="mr-2" [class.has-text-grey-dark]="message.read_message">
									{{ message.sender_name }}
								</strong>
								<small [class.has-text-grey]="!message.read_message"
									[class.has-text-grey-dark]="message.read_message">
									{{ message.email }}
								</small>
								<span class="tag date is-family-monospace is-pulled-right">
									@if (isMessageUpdating(message.message_id)) {
									<span class="loader is-small"></span>
									} @else {
									{{ formatDate(message.created_at) }}
									}
								</span>
							</div>
							<p class="message-text" [class.has-text-grey-dark]="message.read_message">
								{{ message.message_text }}
							</p>
						</div>
					</div>
				</article>
			</div>
			}
		</div>

		<!-- Pagination Controls -->
		<nav class="pagination is-centered" role="navigation" aria-label="pagination">
			<button class="pagination-previous pagination__left" [disabled]="!hasPreviousPage()"
				(click)="previousPage()">
				Previous
			</button>

			<ul class="pagination-list pagination__center">
				<li>
					<span class="pagination-link is-current">
						Page {{ currentPage() + 1 }} of {{ totalPages() }}
					</span>
				</li>
			</ul>

			<button class="pagination-next pagination__right" [disabled]="!hasNextPage()" (click)="nextPage()">
				Next page
			</button>
		</nav>

		<p class="has-text-centered has-text-grey mt-3">
			Showing {{ messages().length }} of {{ state().totalCount }} messages
		</p>
		}
	</div>
</div>