<app-contact #contactModal></app-contact>

<footer class="footer is-family-monospace" aria-label="Site footer">
	<div class="columns">
		<div class="column">
			<div class="content">
				<p class="mt-0 pt-0">
					<button
						class="contact tag is-medium"
						(click)="openContactModal()"
						(keypress.enter)="openContactModal()"
						aria-label="Contact form"
					>
						Contact me!
					</button>
				</p>
			</div>
		</div>
		<div class="column">
			<div class="content has-text-right"></div>
		</div>
	</div>
</footer>
