<nav class="navbar has-shadow is-fixed-top" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" routerLink="/">
            <i-feather name="home" size="32"></i-feather>
        </a>
    </div>
    <div class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" routerLink="/resume">
                <i-feather name="file-text" size="32"></i-feather>
                Resume
            </a>
            <a class="navbar-item" routerLink="/projects">
                <i-feather name="codepen" size="32"></i-feather>
                Projects
            </a>
        </div>
    </div>
    <div class="navbar-end">
        <a class="navbar-item" target="_blank" href="https://github.com/calvin-devogel">
            <i-feather name="github" size="32"></i-feather>
            GitHub
        </a>
        <a class="navbar-item" target="_blank" href="https://linkedin.com/in/calvin-devogel">
            <i-feather name="linkedin" size="32"></i-feather>
            LinkedIn
        </a>
    </div>
</nav>