<app-page-layout>
    <div left></div>
    <div main class="hero hero-body">
        <section class="animate-section">
            <div class="box mt-6 py-6 px-6 is-shadowless">
                <h2 class="title is-3 gradient-title mb-4">Projects</h2>
                <div class="resume-item">
                    <ul>
                        <li>
                            This website is one of them! The code for the front end can be found 
                            <a class="text-link" target="_blank" href="https://github.com/calvin-devogel/portfolio">here</a>
                            , and the server code can be found 
                            <a class="text-link" target="_blank" href="https://github.com/calvin-devogel/portfolio-server">here.</a>
                            Also, the project for this site can be found 
                            <a class="text-link" target="_blank" href="https://github.com/users/calvin-devogel/projects/1">
                            here</a> if you're interested.
                        </li>
                        <li>
                            I've also been following along with Luca Palmieri's excellent 
                            <a class="text-link" target="_blank" href="https://www.zero2prod.com">Zero To Production In Rust</a>
                            , which I've really been enjoying. The source code for my iteration of the project can be found 
                            <a class="text-link" target="_blank" href="https://github.com/calvin-devogel/zero2prod">here.</a>
                            A large portion of the back end for this site is based on what I've learned from this book.
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div right></div>
</app-page-layout>