<app-page-layout>
    <div left></div>
    <div main class="hero hero-body">
        <section class="animate-section">
            <div class="box is-shadowless">
                <h2 class="title mt-5 has-text-centered">Projects</h2>
                <div class="resume-item">
                    <ul>
                        <li>
                            <a target="_blank" href="https://github.com/calvin-devogel/portfolio">This website</a> is one of them! I have a few others in flight but most aren't ready to be displayed yet.
                        </li>
                        <li>
                            I've also been following along with Luca Palmieri's excellent 
                            <a target="_blank" href="https://www.zero2prod.com">Zero To Production In Rust</a>
                            , which I've really been enjoying. The source code for my iteration of the project can be found 
                            <a target="_blank" href="https://github.com/calvin-devogel/zero2prod">here.</a>
                            I've been doing my best to use the current versions of the libraries and resources used 
                            in the book, and have learned a ton in the process.
                        </li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
    <div right></div>
</app-page-layout>