<app-page-layout>
    <div left></div>
    <div main class="hero hero-body" aria-label="Projects page content">
        <section class="animate-section" aria-labelledby="projects-heading">
            <div class="box mt-6 py-6 px-6 is-shadowless">
                <h2 id="projects-heading" class="title is-3 gradient-title mb-4">Projects</h2>
                <div class="project-list">
                    <div class="project-card">
                        <div class="project-card__icon">
                            <i-feather name="clipboard" size="32"></i-feather>
                        </div>
                        <div class="project-card__body">
                            <h3 class="project-card__title">Portfolio</h3>
                            <p class="project-card__description">
                                This website is one of them! The code for the front end can be found 
                                <a class="text-link" target="_blank" href="https://github.com/calvin-devogel/portfolio">here</a>,
                                and the server code can be found 
                                <a class="text-link" target="_blank" href="https://github.com/calvin-devogel/portfolio-server">here.</a>
                                Also, the project board for this site can be found 
                                <a class="text-link" target="_blank" href="https://github.com/users/calvin-devogel/projects/1">here</a>
                                if you're interested.
                            </p>
                            <div class="project-card__links">
                                <a class="project-link" target="_blank" href="https://github.com/calvin-devogel/portfolio">Frontend</a>
                                <a class="project-link" target="_blank" href="https://github.com/calvin-devogel/portfolio-server">Backend</a>
                                <a class="project-link" target="_blank" href="https://github.com/users/calvin-devogel/projects/1">Project Board</a>
                            </div>
                        </div>
                    </div>

                    <div class="project-card">
                        <div class="project-card__icon">
                            <i-feather name="book" size="32"></i-feather>
                        </div>
                        <div class="project-card__body">
                            <h3 class="project-card__title">Zero To Production In Rust</h3>
                            <p class="project-card__description">
                                I've also been following along with Luca Palmieri's excellent 
                                <a class="text-link" target="_blank" href="https://www.zero2prod.com">Zero To Production In Rust</a>,
                                which I've really been enjoying. The source code for my iteration of the project can be found 
                                <a class="text-link" target="_blank" href="https://github.com/calvin-devogel/zero2prod">here.</a>
                                A large portion of the back end for this site is based on what I've learned from this book.
                            </p>
                            <div class="project-card__links">
                                <a class="project-link" target="_blank" href="https://github.com/calvin-devogel/zero2prod">Source Code</a>
                                <a class="project-link project-link--secondary" target="_blank" href="https://www.zero2prod.com">Book</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <div right></div>
</app-page-layout>