<app-page-layout>
    <div left></div>
    <div main class="hero hero-body">
        <section class="animate-section">
            <div class="box is-shadowless">
                <h2 class="title mt-5 has-text-centered">Home</h2>
                <p class="resume-item has-text-centered">
                    Detail-oriented and enthusiastic Software Engineer with 4+ years of 
                    technical and operational experience seeking a Software Engineering role. 
                    Proven ability to deliver robust, maintainable code, coordinate cross-functional 
                    projects, and translate complex business requirements into practical and 
                    effective solutions.<br class="mb-2">
                    If you are a recruiter or hiring professional, please reach out to me via 
                    LinkedIn, or even better, leave me a message on my <a routerLink="/contact">Contact page!</a><br>
                    I'd love to chat about how I can contribute to your team.
                </p>
            </div>
        </section>
    </div>
    <div right></div>
</app-page-layout>